{% extends "base.html" %}

{% block titulo_conteudo %} Detalhes do Pedido #{{ pedido.id }} {% endblock titulo_conteudo %}

{% block conteudo %}

<p><strong>Pedido ID:</strong> #{{ pedido.id }}</p>
<p><strong>Cliente:</strong> {{ pedido.cliente.nome }}</p>
<p><strong>Data do Pedido:</strong> {{ pedido.data_pedidof }}</p>
<p><strong>Status:</strong> {{ pedido.get_status_display }}</p>

<hr>
<!-- Formulário para adicionar novos produtos -->
<h5>Adicionar Produto</h5>
{% if pedido.id %}
<form method="POST" action = "{% url 'novo_pedido' pedido.id %}">
{% else %}
<form method="POST" action="#">
{% endif %}
    {% csrf_token %}
    {{ form.pedido }}
    
    <p>
        <label for="id_produto">Produto:</label>    
        <input type="text" class="form-control autocomplete" 
               id="id_produto_nome" 
               data-url="{% url 'buscar_dados' 'home.Produto' %}"
               data-hidden="#id_produto">
        {{ form.produto }}  <!-- Campo oculto para armazenar o ID do produto -->
    </p>

    <p>
        <label for="id_produto_qtde">Quantidade:</label>    
        {{ form.qtde }}
    </p>
    <p>
        <label for="id_produto_preco">Preço Unitário:</label>    
        {{ form.produto.preco }}
    </p>

    <input type="hidden" name="produto" id="id_produto" value="{{ item_pedido.produto.id|default:'' }}">
    <button type="submit" class="btn btn-primary btn-sm" id="confirm-btn">Salvar Produto</button>
    <button type="button" onclick="location=''" class="btn btn-primary btn-sm">Registrar Pagamento</button>
</form>

<hr>
<!-- Tabela de Itens já adicionados ao pedido -->
<h5>Itens do Pedido</h5>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Imagem</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço Unitário (R$)</th>
            <th>Total (R$)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for item in pedido.itempedido_set.all %}
        <tr>
            <td>#{{ item.id }}</td>
            <td>
                {% if item.produto.imagem %}
                    <img src="{{ item.produto.imagem.url }}" alt="{{ item.produto.nome }}" width="50" height="50">
                {% else %}
                    <span>Sem imagem</span>
                {% endif %}
            </td>
            <td>{{ item.produto.nome }}</td>
            <td>{{ item.qtde }}</td>
            <td>{{ item.preco }}</td>
            <td>{{ item.total|floatformat:2 }}</td>
            <td>
              <a href="{% url 'editar_pedido' item.id %}" class="btn btn-warning btn-sm">Editar</a>
              <a href="{% url 'remover_pedido' item.id %}" class="btn btn-danger btn-sm remove-btn" data-id="{{ item.id }}">Remover</a>
            </td>         
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock conteudo %}

{% block javascript %}
<script>
    $('#confirm-btn').confirmation({
      rootSelector: '#confirm-btn',
      title: 'Você tem certeza?',
      btnOkLabel: 'Sim',
      btnCancelLabel: 'Não',
      onConfirm: function() {
        alert('Confirmado!');
      },
      onCancel: function() {
        alert('Cancelado!');
      }
    });
</script>
<script>
    $('#confirm-btn').confirmation({
      rootSelector: '#confirm-btn',
      title: 'Você tem certeza?',
      btnOkLabel: 'Sim',
      btnCancelLabel: 'Não',
      onConfirm: function() {
        alert('Confirmado!');
      },
      onCancel: function() {
        alert('Cancelado!');
      }
    });

    document.querySelectorAll('.remove-btn').forEach(function(button) {
        button.addEventListener('click', function(event) {
            if (!confirm('Tem certeza que deseja remover este item?')) {
                event.preventDefault();
            }
        });
    });
</script>
{% endblock javascript %}